.env
.idea/
.pytest_cache/
pycache/

bin/
obj/
publish/
dist/
node_modules/

*.dll
*.exe
*.pdb
*.deps.json
*.runtimeconfig.json
*.staticwebassets.runtime.json

logs/
*.log

Config/*.key
Config/credentials.json

Data/.xlsx
Data/.json
Data/Archives/
Data/network_rush_hour_*.json

*.xlsx
*.log

app - Copy.py
Test.py
TEst2.py
Testt.py
tttte.py
directory_structure.txt
publish_structure.txt
publish_structure2.txt
filelist.txt
handle_output.txt